<ng-template #loading>
	<div>Fetching ...</div>
</ng-template>

<div *ngIf="gameTemplates | async; else loading; let templates">
	<div class="field">
		<p class="control">
			<span class="select">
				<select [(ngModel)]="selectedTemplate">
					<option disabled [ngValue]="null" class="hideoption">Select a template...</option>
					<option *ngFor="let template of templates" [ngValue]="template" >
						{{ template.id }}
					</option>
				</select>
			</span>
		</p>
	</div>

	<!--<pre *ngIf="selectedTemplate">depth {{ selectedTemplate.depth }}</pre>-->
	<app-game-template-view
		*ngIf="selectedTemplate"
		[gameTemplateId]="selectedTemplate.id"
		tileStroke="#505050"
		tileStrokeWidth="0.01"
		>
	</app-game-template-view>

	<div class="field">
		<p class="control">
			<input class="input" type="number" [(ngModel)]="minPlayers" min="1" placeholder="Min Players" pattern="[0-9]+"/>
		</p>
	</div>

	<div class="field">
		<p class="control">
			<input class="input" type="number" [(ngModel)]="maxPlayers" min="1" placeholder="Max Players" pattern="[0-9]+"/>
		</p>
	</div>

	<div class="field">
		<p class="control">
			<button (click)="createGame($event)" [disabled]="!selectedTemplate"  class="button is-primary">Create</button>
		</p>
	</div>
</div>
