// .box.game {
// 	padding-bottom: 0;
// 	overflow: hidden;
// }

.top-nav {
	margin-bottom: 1.5rem;
}

.game-section {
	margin-left: -1.25rem;
    margin-right: -1.25rem;
	margin-bottom: 0;
    padding: 1.25rem;
}

.template-view {
	width: 25%;
	padding: 0;
}
