<nav class="nav">
	<div class="container">
		<div class="nav-left">
			<a class="nav-item">{{ title }}</a>
			<a class="nav-item is-tab" routerLink='/opengames' routerLinkActive="is-active">Open games</a>
			<a class="nav-item is-tab" routerLink='/playinggames' routerLinkActive="is-active">Playing games</a>
			<a class="nav-item is-tab" routerLink='/create-game' routerLinkActive="is-active">Create Game</a>
		</div>
	</div>
</nav>

<section class="section">
	<div class="container">
		<router-outlet></router-outlet>
	</div>
</section>
