<nav class="pagination is-centered" >
    <a class="pagination-previous"
       *ngIf="pagination.hasPrevious"
       [routerLink]="[url, pagination.previous]">Previous</a>

    <a class="pagination-next"
       *ngIf="pagination.hasNext"
       [routerLink]="[url, pagination.next ]">Next page</a>

    <ul class="pagination-list">
        <li *ngFor="let page of pagination.pagesArray">
            <a class="pagination-link" [routerLink]="[url, page, params]" routerLinkActive="is-current">{{ page }}</a>
        </li>
    </ul>
</nav>
