.template-view {
  width: 100%;
  //padding: 2vw;
}

.boardstats {
  padding: 2vw;
}

.boardstatgroup {
  padding-bottom: 3vw;
}


g {

  & > rect {
    opacity: 0;
  }
  & > rect[data-hintable=true] {
    opacity: 0.2;
    fill:orange;
  }
  & > rect:hover {
    opacity: 0.1;
    fill:black;
  }
  & > rect[data-selectable=true][data-selected=true]{
    opacity: 0.2;
    fill:black;
  }




  // For development, which tiles are selectable
  //& > rect[data-selectable=true] {
  //  opacity: 0.1;
  //}

}


.template-tile{
  -webkit-clip-path: polygon(10% 0, 100% 0, 100% 90%, 86% 100%, 0 100%, 0 12%);
  clip-path: polygon(10% 0, 100% 0, 100% 90%, 86% 100%, 0 100%, 0 12%);
}

:host {
  display: block;
}
