.template-view {
  width: 100%;
  padding: 2vw;
}

.boardstats {
  padding: 2vw;
}

.boardstatgroup {
  padding-bottom: 3vw;
}


g {

  & > rect {
    opacity: 0;
    fill:black;
  }
  & > rect:hover {
    opacity: 0.1;
  }
  & > rect[data-selectable=true][data-selected=true]{
    opacity: 0.2;
  }

}


.template-tile{
  -webkit-clip-path: polygon(10% 0, 100% 0, 100% 90%, 86% 100%, 0 100%, 0 12%);
  clip-path: polygon(10% 0, 100% 0, 100% 90%, 86% 100%, 0 100%, 0 12%);
}

:host {
  display: block;
}
