.template-view {
	width: 100%;
	padding: 2vw;
}

.boardstats {
	padding: 2vw;
}

.boardstatgroup {
	padding-bottom: 3vw;
}

.selectable {

	fill: red !important;

}


$base-color: #00d1b2;//rgba(39, 167, 64, 1);

@for $i from 0 through 5 {
	g[data-z="#{$i}"]{
		fill: lighten($base-color, ($i/6)*75) ;
	}
}

g {
	// stroke: black;
	// stroke-width: .1;

	// & > rect:hover {
	// 	transform: translate(-1.4px, -0.6px) scale(1.1);
	// }
}

:host {
    display: block;
}
